<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmb.daliyDocket.mappers.UserMapper">
    <select id="selectUserByEmail"
            resultType="com.kmb.daliyDocket.entities.UserEntity">
        SELECT `email`    AS `email`,
               `password` AS `password`,
               `nickname` AS `nickname`
        FROM daily_docket.`users`
        WHERE BINARY `email` = #{email}
        LIMIT 1
    </select>

    <select id="selectUserByNickName"
            resultType="com.kmb.daliyDocket.entities.UserEntity">
        SELECT `nickname` AS `nickname`
        FROM daily_docket.`users`
        WHERE BINARY `nickname` = #{nickname}
        LIMIT 1
    </select>

    <insert id="insertUser"
            parameterType="com.kmb.daliyDocket.entities.UserEntity">
        INSERT INTO `daily_docket`.`users`(`email`, `password`, `name`, `nickname`, `birth`, `registered_at`, `admin_flag`)
        VALUES (#{email},
                #{password},
                #{name},
                #{nickname},
                #{birth},
                IFNULL(#{registeredAt}, DEFAULT(`registered_at`)),
                #{isAdmin})
    </insert>



</mapper>