<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <!--fullcalendar css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <!--fullcalendar 언어 설정관련 script-->
    <script src='fullcalendar/dist/index.global.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales-all.js"></script>
    <script defer th:src="@{/resources/scripts/calender.js}"></script>
</head>
<body>
<div id='calendar'></div>
</body>
</html>