<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>
    <script defer th:src="@{/resources/scripts/register.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/register.css}">
</head>
<body>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form id="registerForm">
            <h1>계정 만들기</h1>
            <input type="email" maxlength="50" name="email" placeholder="이메일">
            <input type="password" maxlength="20" name="password" placeholder="비밀번호">
            <input type="text" maxlength="5" name="name" placeholder="이름">
            <input type="text" maxlength="10" name="nickname" placeholder="닉네임">
            <input type="date" name="birthday" placeholder="birthday">
            <input type="submit" value="회원가입">
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="#">
            <h1>로그인</h1>
            <span>계정을 사용해 로그인하세요!</span>
            <input type="email" placeholder="이메일">
            <input type="password" placeholder="비밀번호">
            <a href="#">비밀번호를 잊으셨나요?</a>
            <button>로그인</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <button class="ghost" id="signIn">로그인</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp">회원가입</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>